<%= simple_form_for(@shop, remote: true) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :star %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <div class="mt-3">
  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to 'Cancel', shops_path, class: 'btn btn-danger ml-2' %>
  </div>
<% end %>
