<div class="container">
  <h1><%= @shop.name %></h1>
</div>
  <div class="row">
      <% if @shop.photos.nil? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/dwxhfawho/image/upload/v1605666098/air-moto/2018_Aprilia_Shiver_900/2018_Aprilia_Shiver_900_1_aiz6s2.jpg", height: 300, width: 400, crop: :fill %>')">
      <% else %>
          <img class="d-block w-100"  src= "<%= cl_image_path @shop.photos[0].key, crop: :fill %>", height: "300", width:"550">
<br>
      <% end %>
<br>

<div class="col-md-6 offset-md-3 mt-5" style="margin:0 auto">
  <div class="card-header">
    <strong><%= @shop.name %></strong>
</div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item" id="name"><strong>Address:  </strong><%= @shop.address %>
          <li class="list-group-item"><strong>Stars:  </strong> <%= @shop.star %></li>
          <div class="col-md-6 offset-md-3 mt-5" style="margin:0 auto">
             <div class="card-header">
                   <h3><%= link_to "Leave a review", new_shop_review_path(@shop) %></h3>
             </div>
                    <% @shop.reviews.each do |review| %>
                         <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Review:  </strong><%= review.content %>
                                  <strong>Photos:  </strong><%= review.photos[0] %>
                              </id>
                            </li>
                          </ul>
                    <% end %>
                      <p><%= link_to "Edit", edit_shop_path(@shop) %></p>
                      <p><%= link_to "Delete", shop_path(@shop), method: :delete %></p>
</div>
</div>
