<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://imagevars.gulfnews.com/2019/11/13/Beautiful-Dubai-Restaurants_16e6425452f_original-ratio.jpg);">
  <div class="container">
  <div class="container">
  <div class="hero-header_nav inline">
  <ul>
    <li><a class="header-nav_link my-2" href="">
        Write a review
        </a></li>
         <li><a class="header-nav_link" href="">
        Events
        </a></li>
        <li><a class="header-nav_link" href="">
        Talk
    </a></li>
     <ul>
        </div>
        </div>
    <h1>Discover <strong>amazing</strong> places <strong>around you</strong>!</h1>
    <p>SHOP | RESTAURANT | COFFEE</p>
    <div class="form-group row">
      <div class="col-sm-10">
      </div>
    </div>


    <div class="container">

<%= form_tag search_path, method: :get do %>
  <%= hidden_field :shop, value: @shop %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search your shops"
  %>
  <%= submit_tag "Search", class: "btn btn-primary"%>
<% end %>

</div>

<%= link_to "All shops", shops_path, class:"btn btn-primary" %>
<%= link_to "All restaurants", restaurants_path, class:"btn btn-primary" %>

<br>
<br>
<br>
<br>
<!--<h1>Page#index</h1>
#<h1 aria-level="1" dir="auto" role="heading" class="css-4rbku5 css-901oao sc-AxmLO ceqIL">
    Discover<br>cafés to love
        <br>
        in
        <span class="css-901oao css-16my406 sc-fzozJi keDGbH">Montréal
        </span>
</h1>

<h3 aria-level="3 dir="auto" role="heading">Coffe shops in Montreal ready for take-out</h3>-->
