<h1>restaurants</h1>
<div class="title">
  <a href="/restaurants/new", style="float: right;", class="btn btn-success">Add restaurants</a></span>
</div>
<% if @restaurants.any? %>
<% @restaurants.each do |restaurant| %>
<div class="container">

<table class="table table-hover">
    <thead>
      <tr>
        <th>restaurant Name</th>
        <th>Description</th>
        <th>Reviews</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
<div class="card-category"
      style="background-image: url('<%= cl_image_path restaurant.photos[0].key, height: 200, width: 300, crop: :fill %>')">        </td>
        <td>
          <p><%= restaurant.address %></p>
          <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant), class:"btn btn-default" %>
          <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, class:"btn btn-default" %>
        </td>
        <td>
        <% restaurant.recommendations.each do |recommendation| %>
        <p><%= recommendation.content %></p>
        <% end %>
        <h5>Average rating: <%#star_rating(restaurant.average_rating) %></h5>
        <%= link_to "Review #{restaurant.name}", new_restaurant_recommendation_path(restaurant), class:"btn btn-default" %>
        </td>
      </tr>
    </tbody>
  </table>
  <% end %>
  <%else %>
  <h1>No restaurants yet</h1>
  <% end %>
</div>
</div>
</div>
