<h1><%= @restaurant.name %></h1>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Description:</strong> <%= @restaurant.description %></p>
<p><strong>Opening Hours:</strong> <%= @restaurant.opening %></p>


<p><%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>
<p><%= link_to "Delete", restaurant_path(@restaurant), method: :delete %></p>

<p><%# link_to "Leave a review", new_restaurant_review_path(@restaurant) %></p>

  <div class="row">
      <% if @restaurant.photos.nil? %>
 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/dwxhfawho/image/upload/v1605666098/air-moto/2018_Aprilia_Shiver_900/2018_Aprilia_Shiver_900_1_aiz6s2.jpg", height: 300, width: 400, crop: :fill %>')">
    <% else %>
  <img class="d-block w-100"  src= "<%= cl_image_path @restaurant.photos[0].key, crop: :fill %>", height: "300", width:"550">
  <br>
  <% end %>
<br>
<div class="col-sm-12 col-md-6">

      <h3>Add a new review</h3>

 <%# @restaurant.reviews.each do |review| %>
           <%# review.content %>
          <%# review.photos[0] %>
      <%# end %>

</div>
</div>
